<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
   <title>Shopping list</title>
</head>
<body>

   
   <form action="/" method="POST">
      <h3 class="add">Add Item</h3>
      <button type="submit">Save</button>
      
      <div class="container" id="0">
         <h3 class="item">Item</h3> <input name="item">
         <h3 class="quantity">Quantity</h3> <input name = "quantity">
         <h3 class="remove" number="0">Remove</h3>
      </div>

   </form>

      <h3>Current list: </h3>
     
         <%list.forEach(product => {%>
        <div class="savedItem">    
        <span><%= product.item %></span>
        <span>: <%= product.quantity %></span>
        <img class="checkMark" src="icons/check-mark.svg" alt="check mark">
        <img class="trashBin" src="icons/trash-bin.svg" alt="trash bin">
        </div>
         <%}) %>
     

      <h3>Your lists(collections)</h3>
      <div>
         <%collections.forEach(collection => {%>
         <h4 class="collections"><%= collection%></h4>
         <%}) %>

       
      </div>
      
      
      
</body>
<script src="main.js" type="module"></script>
</html>
